BOT_TOKEN=
ADMIN_TELEGRAM_IDS=123456789,987654321
SEKRE_LAT=-7.000000
SEKRE_LON=110.000000
RADIUS_METER=18
GRACE_PERIOD_MENIT=5
DURASI_PIKET_MENIT=60
AMBANG_TERLAMBAT_MENIT=30
DENDA_PER_ABSEN=10000
NO_UPDATE_TIMEOUT_MENIT=10
